<html>
<body>
<form action="{{url_for('predict_datapoint')}}" method="POST">
    <div class="form-group">
        <label for="Pclass">Pclass:</label>
        <input type="text" id="Pclass" name="Pclass" placeholder="Enter Pclass value (float)">
    </div>

    <div class="form-group">  
        <label for="Age">Age:</label>
        <input type="text" id="Age" name="Age" placeholder="Enter Age value (float)">
    </div>

    <div class="form-group">
      <label for="SibSp">SibSp:</label>
      <input type="text" id="SibSp" name="SibSp" placeholder="Enter SibSp value (float)">
    </div>
    
    <div class="form-group">
        <label for="Parch">Parch:</label>
        <input type="text" id="Parch" name="Parch" placeholder="Enter Parch value (float)">
    </div>
  
    <div class="form-group">
        <label for="Fare">Fare:</label>
        <input type="text" id="Fare" name="Fare" placeholder="Enter Fare value (float)">
    </div>
  
    <div class="form-group">
        <label for="Cabin">Cabin:</label>
        <input type="text" id="Cabin" name="Cabin" placeholder="Enter Cabin value (str)">
    </div>         
  
<div class="form-group">
  <label for="Sex">Sex:</label>
  <select id="Sex" name="Sex">
    <option value="male">male</option>
    <option value="female">female</option>
  </select>
</div>
  
<div class="form-group">
  <label for="Embarked">Embarked:</label>
  <select id="Embarked" name="Embarked">
    <option value="S">S</option>
    <option value="C">C</option>
    <option value="Q">Q</option>
  </select>
</div>

<div style="clear:both;"></div>
  <input type="submit" value="Submit">
</form>
</body>
</html>